@import "tailwindcss";

@theme inline {
  --color-pinnacle-navy: #010c4e;
  --color-footer-navy: #00051f;
  --color-pinnacle-amber: #ffa100;
  --color-slate-bg: #e2e8f0;
  --color-pinnacle-blue: #1e40af;
  --color-body-dark: #2d3748;
  --color-muted-text: #94a3b8;
  --color-slate-dark: #334155;
  --color-orange-accent: #ea580c;

  --font-heebo: var(--heebo-font);
  --font-work-sans: var(--work-sans-font);
}
